.home-page {
  height: 70vh;
  // height: 100vw;

  img {
    aspect-ratio: 1 / 1;
    height: 80%;
    position: absolute;
    inset: 0;
    z-index: -1;
    object-fit: cover;
  }

  p {
    color: $clr-1;
    font-size: 2rem;
  }

}